@import url(colors.css);

:root {
  --smaller: 0.75;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fluxity-reg;
}

a,
h1,
h2,
h3 {
  color: var(--black);
  text-decoration: none;
}

body {
  height: 100dvh;
  overflow-x: hidden;
  position: relative;
  background-color: var(--background);
}

/* header */
header {
  height: 130px;
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.waitlist-btn {
  border: none;
  color: white;
  cursor: pointer;
  font-size: 19px;
  padding: 18px 30px;
  border-radius: 12px;
  background-color: var(--purple);
  transition: 0.3s;
}

.waitlist-btn:hover {
  background-color: #321cbd;
}

.logo picture {
  width: 100%;
}

/* main texts */
main {
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

main h1 {
  font-size: 80px;
  margin-top: 25px;
  letter-spacing: 0.09em;
  line-height: 6rem;
}

main h2 {
  font-size: 30px;
  letter-spacing: 0.09em;
}

/* linear svgs styles */
section {
  left: 0;
  right: 0;
  bottom: 0px;
  position: absolute;
}

section picture img {
  margin-bottom: 50px;
  width: 100%;
}

@keyframes moveLine {
  0% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
  100% {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
}

.move1 {
  animation: moveLine 6s linear infinite;
}

.move2 {
  animation: moveLine 5s linear infinite;
}

.move3 {
  animation: moveLine 7s linear infinite;
}

.move4 {
  animation: moveLine 8s linear infinite;
}

/* countdown */

ul {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}

li {
  font-size: 1.1em;
  list-style-type: none;
  padding: 17px 0;
  text-transform: uppercase;
  color: var(--black);
  border: 2px solid var(--black);
  border-radius: 12px;
  width: 100px;
}

li span {
  display: block;
  font-size: 2.7rem;
  text-align: center;
  margin-bottom: 6px;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 0.5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  li {
    font-size: calc(1.125rem * var(--smaller));
  }

  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}
