@import url(colors.css);

:root {
  --smaller: 0.75;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fluxity-reg;
}

a,
h1,
h2,
h3 {
  color: var(--black);
  text-decoration: none;
}

body {
  height: 100dvh;
  overflow: hidden;
  position: relative;
  background-color: var(--background);
}

/* header */
header {
  height: 130px;
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.whitepaper-btn {
  border: none;
  color: white;
  cursor: pointer;
  font-size: 19px;
  padding: 18px 30px;
  border-radius: 12px;
  background-color: var(--purple);
  transition: 0.3s;
}

.whitepaper-btn:hover {
  background-color: #321cbd;
}

.logo picture img {
  width: 250px;
}

/* main texts */
main {
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

main h1 {
  font-size: 80px;
  margin-top: 25px;
  letter-spacing: 0.09em;
  line-height: 6rem;
}

main h2 {
  font-size: 30px;
  letter-spacing: 0.09em;
}

/* linear svgs styles */
section {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

section picture img {
  margin-bottom: 50px;
  width: 100%;
}

@keyframes moveLine {
  0% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.move1 {
  animation: moveLine 8s linear infinite;
}

.move2 {
  animation: moveLine 9s linear infinite;
}

.move3 {
  animation: moveLine 10s linear infinite;
}

.move4 {
  animation: moveLine 7s linear infinite;
}

/* countdown */

ul {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}

li {
  font-size: 1.1em;
  list-style-type: none;
  padding: 17px 0;
  text-transform: uppercase;
  color: var(--black);
  border: 2px solid var(--black);
  border-radius: 12px;
  width: 100px;
}

li span {
  display: block;
  font-size: 2.7rem;
  text-align: center;
  margin-bottom: 6px;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 0.5rem;
}

@media (min-width: 355px) and (max-width: 767px) {
  header {
    width: 90%;
  }

  main h1 {
    font-size: calc(3.8rem * var(--smaller));
    line-height: 2.6rem;
    letter-spacing: 0;
  }
  main h2 {
    font-size: calc(2rem * var(--smaller));
  }

  ul {
    margin-top: 12px;
    gap: 1px;
  }

  ul li {
    transform: scale(0.85) !important;
    padding: 20px 0px;
    width: 85px;
    font-size: 15px;
  }

  li span {
    font-size: 25px;
  }

  main {
    padding: 1rem;
  }

  .logo picture img {
    width: 100%;
  }

  .whitepaper-btn {
    padding: 15px 12px;
    font-size: 16px;
  }

  html {
    font-size: calc(var(--smaller) + 0.1vw);
  }
}

@media only screen and (min-width: 1440px) and (orientation: landscape) {
  main h1 {
    font-size: calc(6.7rem * var(--smaller));
    line-height: 5.4rem;
  }

  main h2 {
    font-size: calc(2.7rem * var(--smaller));
  }

  ul {
    margin-top: 12px;
  }

  ul li {
    transform: scale(0.9) !important;
  }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  ul {
    margin-top: 14px;
  }
}

@media only screen and (max-width: 1360px) and (min-width: 768px) {
  main {
    padding: 10px;
  }

  h1 {
    font-size: 60px !important;
    line-height: 4rem !important;
  }

  ul li {
    transform: scale(0.8) !important;
    font-size: 15px;
  }

  li span {
    font-size: 35px;
  }

  .logo picture img {
    width: 200px;
  }

  .whitepaper-btn {
    font-size: 18px;
  }

  section picture img {
    margin-bottom: 35px;
  }
}
